stages:
  - deploy
before_script:
  - export NVM_DIR="$HOME/.nvm"
  - if [ -s "$NVM_DIR/nvm.sh" ]; then . "$NVM_DIR/nvm.sh"; fi
  - node -v
  - pnpm -v       # pastikan pnpm bisa dipanggil
deploy:
  stage: deploy
  tags:
    - shenlong
  script:
    - echo "Deploying syifa"
    - cd /var/www/html/syifa
    - git fetch --all
    - git checkout development
    - git pull origin development
    - php artisan optimize:clear
    - php artisan migrate --force
    - pnpm install
    - pnpm run build
  only:
    - development
